* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        height: 100vh;
        background: linear-gradient(#f5f5f5, #ffb4eb);
}

html {
        font-size: 16px;
}

.wrapper {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
}

.container {
        width: 70vmin;
        height: 70vmin;
        display: flex;
        flex-wrap: wrap;
        gap: 2vmin;
}

.button-option {
        color: rgb(223, 169, 207);
        background-color: black;
        height: 22vmin;
        width: 22vmin;
        border: none;
        border-radius: 10px;
        font-size: 16vmin;
}

#restart {
        padding: 1em 2em;
        font-size: 2em;
        font-weight: 700;
        margin: 1em auto;
        border-radius: 10px;
        border: none;
        outline: none;
        display: block;
        position: relative;
        color: rgb(250, 98, 255);
        background-color: black;
}

.popup {
        background: linear-gradient(#f5f5f5, #ffb4eb);
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        z-index: 2;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        font-size: 12vmin;
}

#message {
        text-align: center;
        color: black;
        font-weight: 900;
}

#new-game {
        font-size: 0.5em;
        padding: 0.5em 1em;
        border-radius: 15px;
        border: none;
        background-color: #fa1212;
        color: white;
        font-weight: 700;
}

.popup.hide {
        display: none;
}

.title {
        text-align: center;
        font-size: 4rem;
        margin: 2rem 0 2rem 0;
        text-transform: uppercase;
}


@media(max-width:772px) {
        .container {
                width: 90vmin;
                height: 90vmin;
                gap: 3vmin;
        }

        .button-option {
                height: 28vmin;
                width: 28vmin;
                font-size: 19vmin;
        }

        #restart {
                padding: 1em 1.3em;
                font-size: 6vmin;
                margin-top: 30px;
        }

        .title {
                text-align: center;
                font-size: 2rem;
                margin: 2rem 0 2rem 0;
                text-transform: uppercase;
        }
}